<launch>
    <arg name="x_pos" default="-1.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.0"/>

   <!-- Parsing xacro and setting robot_description parameter -->
   <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro" />

   <!-- Spawn a URDF-based robot model into Gazebo -->
   <node name="spawn_bot" pkg="gazebo_ros" type="spawn_model"
      args="-urdf -model turtlebot3_waffle_pi -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>